apps/copiadora/resources/copiadora/servicios.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="loginResponseDto">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element name="success" type="xs:boolean"/>	      
	      <xs:element name="token" type="xs:string"/>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
</xs:schema>